{% extends 'base.html.twig' %}

{% block title %}CoLive – Accueil{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}

{% block body %}
    <div class="hero">
        <img src="{{ asset('img/home.png') }}" alt="CoLive Background" class="hero-bg-image">

        <div class="overlay"></div>

        <header class="top-bar">
            <div class="logo">C</div>
                <div class="nav-right-group">
                    {% if app.user %}
                        <a href="{{ path('app_bot') }}" class="nav-bot-link">
                            <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                  fill="currentColor" viewBox="0 0 24 24" >
                                <!--Boxicons v3.0.7 https://boxicons.com | License  https://docs.boxicons.com/free-->
                                <path d="M8.5 10a1.5 2 0 1 0 0 4 1.5 2 0 1 0 0-4M15.5 10a1.5 2 0 1 0 0 4 1.5 2 0 1 0 0-4M8 16h8v2H8z"></path><path d="M21 11V8c0-1.1-.9-2-2-2h-6V4.61c.3-.27.5-.67.5-1.11 0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5c0 .44.2.84.5 1.11V6H5c-1.1 0-2 .9-2 2v3c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1v3c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-3c.55 0 1-.45 1-1v-4c0-.55-.45-1-1-1M5 20V8h14v12z"></path>
                            </svg>
                        </a>
                    <a href="{{ path('app_message') }}" class="nav-icon-btn" title="Mes messages">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                              fill="#000000" viewBox="0 0 24 24" >
                            <!--Boxicons v3.0.6 https://boxicons.com | License  https://docs.boxicons.com/free-->
                            <path d="m21.55,8.17l-2.55-1.7v-1.46c0-.55-.45-1-1-1h-2.7l-2.75-1.83c-.34-.22-.77-.22-1.11,0l-2.75,1.83h-2.7c-.55,0-1,.45-1,1v1.46l-2.55,1.7c-.28.19-.45.5-.45.83v11c0,1.1.9,2,2,2h16c1.1,0,2-.9,2-2v-11c0-.33-.17-.65-.45-.83Zm-14.55-2.17h10v4.46l-5,3.33-5-3.33v-4.46Zm-3,14v-9.13l1.45.96,6,4c.17.11.36.17.55.17s.39-.06.55-.17l6-4,1.45-.96v9.13H4Z"></path>
                        </svg>
                    </a>
                    <a href="{{ path('app_profile') }}" class="nav-user-pill">
                    {% if app.user.avatar %}
                        <img src="{{ app.user.avatar }}" alt="Avatar" class="nav-avatar-mini">
                    {% else %}
                        <img src="https://ui-avatars.com/api/?name={{ app.user.prenom }}+{{ app.user.nom }}&background=000&color=fff&size=256&font-size=0.33" alt="Avatar" class="nav-avatar-mini">
                    {% endif %}
                        <span>{{ app.user.prenom }}</span>
                    </a>
            {% else %}
                <a href="{{ path("app_login") }}" class="login-btn">Se connecter</a>
            {% endif %}
                </div>
        </header>

        <div class="hero-content">
            <div class="text-content">
                <h1>La cohabitation pensée pour les étudiants en alternance</h1>

                <p class="subtitle">
                    CoLive connecte les étudiants en alternance pour partager des logements.
                    Trouvez votre colocataire idéal ou proposez votre espace.
                </p>

                <a href="{{ path('app_announce_create') }}" class="cta-pill">
                    Proposer mon logement
                    <span class="icon-arrow">&rarr;</span>
                </a>
            </div>

            <div class="search-container">
                <form action="{{ path('app_announce') }}" method="get" class="search-bar">

                    <div class="search-item">
                        <label for="location">Destination</label>
                        <input type="text" id="location" name="location" placeholder="Ville, école...">
                    </div>

                    <div class="divider"></div>

                    <div class="search-item">
                        <label for="date_start">Arrivée</label>
                        <input type="date" id="date_start" name="date_start">
                    </div>

                    <div class="divider"></div>

                    <div class="search-item">
                        <label for="date_end">Départ</label>
                        <input type="date" id="date_end" name="date_end">
                    </div>

                    <div class="divider"></div>

                    <div class="search-item">
                        <label for="type">Type</label>
                        <select name="type" id="type">
                            <option value="all">Tout</option>
                            <option value="Chambre">Chambre</option>
                            <option value="Colocation">Colocation</option>
                            <option value="Studio">Studio</option>
                        </select>
                    </div>

                    <button type="submit" class="search-btn">
                        Rechercher
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
