{% extends 'base.html.twig' %}

{% block title %}{{ announce.titre }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="hero-wrapper">
        {% if announce.photos is not empty %}
            <img src="{{ announce.photos|first.contenu }}" class="hero-img" alt="Couverture">
        {% else %}
            <img src="https://picsum.photos/seed/{{ announce.id }}/800/1000" class="hero-img" alt="Couverture">
        {% endif %}
    </div>

    <main class="content-sheet">
        <div class="title-row">
            <h1 class="aanounce-title">{{ announce.titre }}</h1>
        </div>
    </main>
{% endblock %}
