{% extends 'base.html.twig' %}

{% block title %}Avis de {{ host.prenom }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/host_reviews.css') }}">
{% endblock %}

{% block body %}

    {% include '_navbar.html.twig' %}

    <div class="page-container">

        <aside class="profile-card">
            <img src="{{ host.avatar ? host.avatar : 'https://ui-avatars.com/api/?name=' ~ host.prenom ~ '+' ~ host.nom ~ '&background=000&color=fff&size=256' }}"
                 alt="{{ host.prenom }}"
                 class="profile-avatar">

            <h1 class="profile-name">{{ host.prenom }} {{ host.nom }}</h1>
            <div class="profile-sub">Membre depuis {{ host.dateCreationCompte|date('Y') }}</div>

            <div class="contact-info-wrapper">
                <a href="{{ path('app_contact_add', {id: host.id}) }}" class="info-row">
                    <span class="info-icon">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff" viewBox="0 0 24 24">
                        <path d="m20.56,3.17c-.29-.2-.67-.23-.99-.08L2.57,11.1c-.35.17-.58.53-.57.92s.24.75.6.9l5.4,2.36v6.72l5.84-4.17,4.76,2.08c.13.06.26.08.4.08.18,0,.36-.05.52-.15.28-.17.46-.46.48-.79l1-15c.02-.35-.14-.69-.43-.89Zm-2.47,14.34l-5.21-2.28,3.12-6.23-7.65,4.25-2.93-1.28,13.47-6.34-.79,11.89Z"></path>
                        </svg>
                    </span>
                    <span class="info-text">Contacter</span>
                </a>

                <div class="info-row">
                    <span class="info-icon">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000" viewBox="0 0 24 24">
                        <path d="M18.07 22h.35c.47-.02.9-.26 1.17-.64l2.14-3.09c.23-.33.32-.74.24-1.14s-.31-.74-.64-.97l-4.64-3.09a1.47 1.47 0 0 0-.83-.25c-.41 0-.81.16-1.1.48l-1.47 1.59c-.69-.43-1.61-1.07-2.36-1.82-.72-.72-1.37-1.64-1.82-2.36l1.59-1.47c.54-.5.64-1.32.23-1.93L7.84 2.67c-.22-.33-.57-.57-.97-.64a1.455 1.455 0 0 0-1.13.24L2.65 4.41c-.39.27-.62.7-.64 1.17-.03.69-.16 6.9 4.68 11.74 4.35 4.35 9.81 4.69 11.38 4.69ZM6.88 10.05c-.16.15-.21.39-.11.59.05.09 1.15 2.24 2.74 3.84 1.6 1.6 3.75 2.7 3.84 2.75.2.1.44.06.59-.11l1.99-2.15 3.86 2.57-1.7 2.46c-1.16 0-6.13-.24-9.99-4.1S4 7.06 4 5.91l2.46-1.7 2.57 3.86-2.15 1.99Z"></path>
                        </svg>
                    </span>
                    <span class="info-text">{{ host.tel ? host.tel : 'Non renseigné' }}</span>
                </div>
            </div>

            <div class="rating-box">
                <div class="rating-large">{{ averageRating }}</div>
                <div class="rating-stars">
                    {% for i in 1..5 %}
                        {% if i <= averageRating %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#FFB400" viewBox="0 0 24 24"><path d="m6.87 14.33-1.83 6.4c-.12.4.03.84.37 1.08.34.25.8.26 1.14.02L12 18.2l5.45 3.63a.988.988 0 0 0 1.14-.02c.34-.25.49-.68.37-1.08l-1.83-6.4 4.54-4.08c.3-.27.41-.69.28-1.06-.13-.38-.47-.64-.87-.68l-5.7-.45-2.47-5.46a.998.998 0 0 0-1.82 0L8.62 8.06l-5.7.45c-.4.03-.74.3-.87.68s-.02.8.28 1.06z"></path></svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#D1D5DB" viewBox="0 0 24 24"><path d="m4.83 12.49 2.04 1.83-.83 2.9-1 3.5c-.12.4.03.84.37 1.08.34.25.8.26 1.14.02l3-2L12 18.19l2.45 1.63 3 2a.988.988 0 0 0 1.14-.02c.34-.25.49-.68.37-1.08l-1-3.5-.83-2.9 2.04-1.83 2.5-2.25c.3-.27.41-.69.28-1.06-.13-.38-.47-.64-.87-.68l-3.15-.25-2.56-.2-2.47-5.46a.998.998 0 0 0-1.82 0L8.61 8.05l-2.56.2-3.15.25c-.4.03-.74.3-.87.68s-.02.8.28 1.06l2.5 2.25Zm1.39-2.25 2.52-.2.62-.05.59-.05.84-1.86 1.2-2.66 1.2 2.66.84 1.86.59.05.62.05 2.52.2.83.07-.77.69-2.5 2.25-.46.42.17.6 1.25 4.38-3.74-2.49-.55-.37-.55.37-3.74 2.49 1.25-4.38.17-.6-.46-.42L6.16 11l-.77-.69z"></path></svg>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="rating-count">{{ totalReviews }} avis reçus</div>
            </div>
        </aside>

        <main class="content-card">
            <div class="content-header">
                <div class="content-title">Tous les avis</div>
                <div class="pill-badge">{{ totalReviews }} commentaires</div>
            </div>

            <div class="reviews-grid">
                {% for review in reviews %}
                    <div class="review-item">
                        <div class="review-head">
                            {% set reviewer = review.utilisateur %}
                            <img src="{{ reviewer.avatar ? reviewer.avatar : 'https://ui-avatars.com/api/?name=' ~ reviewer.prenom ~ '&background=random&color=fff' }}"
                                 class="review-avatar">

                            <div class="head-right">
                                <div class="date-name">
                                    <h4 class="review-author">{{ reviewer.prenom }} {{ reviewer.nom }}</h4>
                                    <div class="review-date">
                                        {{ review.dateCreation|date('d/m/Y') }}
                                    </div>
                                </div>
                                <span class="review-stars-mini">
                                    {% for i in 1..5 %}
                                        {% if i <= review.note %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#FFB400" viewBox="0 0 24 24"><path d="m6.87 14.33-1.83 6.4c-.12.4.03.84.37 1.08.34.25.8.26 1.14.02L12 18.2l5.45 3.63a.988.988 0 0 0 1.14-.02c.34-.25.49-.68.37-1.08l-1.83-6.4 4.54-4.08c.3-.27.41-.69.28-1.06-.13-.38-.47-.64-.87-.68l-5.7-.45-2.47-5.46a.998.998 0 0 0-1.82 0L8.62 8.06l-5.7.45c-.4.03-.74.3-.87.68s-.02.8.28 1.06z"></path></svg>
                                        {% else %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#D1D5DB" viewBox="0 0 24 24"><path d="m4.83 12.49 2.04 1.83-.83 2.9-1 3.5c-.12.4.03.84.37 1.08.34.25.8.26 1.14.02l3-2L12 18.19l2.45 1.63 3 2a.988.988 0 0 0 1.14-.02c.34-.25.49-.68.37-1.08l-1-3.5-.83-2.9 2.04-1.83 2.5-2.25c.3-.27.41-.69.28-1.06-.13-.38-.47-.64-.87-.68l-3.15-.25-2.56-.2-2.47-5.46a.998.998 0 0 0-1.82 0L8.61 8.05l-2.56.2-3.15.25c-.4.03-.74.3-.87.68s-.02.8.28 1.06l2.5 2.25Zm1.39-2.25 2.52-.2.62-.05.59-.05.84-1.86 1.2-2.66 1.2 2.66.84 1.86.59.05.62.05 2.52.2.83.07-.77.69-2.5 2.25-.46.42.17.6 1.25 4.38-3.74-2.49-.55-.37-.55.37-3.74 2.49 1.25-4.38.17-.6-.46-.42L6.16 11l-.77-.69z"></path></svg>
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                        <div class="review-body">
                            {{ review.commentaire|nl2br }}
                        </div>
                    </div>
                {% else %}
                    <p>Aucun avis n'a été publié pour cet hôte.</p>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock %}
